body{
    background: url("img/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
}

.main-window-wrapper{
    margin:50px  auto 0;
    width: 700px;
}

.main-wrapper{
    width: 600px;
    margin: auto;
}

h1{
    color: white;
    margin:0 auto 25px;
    width: 158px;
    font-size: 35px;
}

.add-input-wrapper{
    display: flex;
    box-sizing: border-box;
    width: 600px;
    margin: auto;
}

#add-btn{
    height: 40px;
    border-radius: 7px;
}

#user-task{
    width: 500px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 7px;
}

button{
    height: 30px;
    width: 100px;

}

.todo-item{
    width: 100%;
    background: #ffffff;
    height: 40px;
    border-radius: 7px;
}

.description{
    /*box-sizing: border-box;*/
    /*!*width: 500px;*!*/
    /*background: white;*/
    /*min-height: 40px;*/
    /*margin-top: 20px;*/
    /*word-wrap: break-word;*/
    /*padding: 13px 0 0 10px;*/
    /*border-radius: 7px;*/
    /*cursor: pointer;*/
    /*height: 40px;*/
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.btn-delete{
    width: 43px;
    height: 43px;
    border-radius: 7px;
    margin-top: -1px;

}

.btn-complete{
    transform: scale(3.5);
    margin: 0;
}

.buttons{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.deletion {
    animation: opacity 1s ease-in-out;
}

#show-task{
    color: white;
}

.checked {
    text-decoration: line-through;
}